__pycache__/
*/__pycache__/
*.pyc
*/*.pyc

.nfs*
*/.nfs*
.DS_Store

*.json
*/*.json
*.txt
*/*.txt
*.zip
*/*.zip
*.pth
*/*.pth
!requirements.txt

checkpoints
data/coco
data/test2017
output